body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg,#0f0c29,#302b63,#24243e);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: system-ui;
}

.card {
    width: 90%;
    max-width: 420px;
    padding: 24px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    background: rgba(255,255,255,0.15);
    color: white;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 6px;
    margin: 10px 0;
}

.day {
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    background: rgba(255,255,255,0.15);
    cursor: pointer;
    user-select: none;
}

.day.active {
    background: #7f5cff;
}

.quick {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.quick div,
#submit {
    flex: 1;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
}

#submit {
    background: linear-gradient(135deg,#7f5cff,#a86cff);
    margin-top: 10px;
}