* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* КАРТОЧКА */
.card {
    width: 92%;
    max-width: 420px;
    padding: 26px;
    border-radius: 22px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}

/* ИНПУТЫ */
input {
    width: 100%;
    margin-bottom: 12px;
    padding: 13px;
    border-radius: 14px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.12);
    color: white;
}

input::placeholder {
    color: rgba(255,255,255,0.6);
}

/* ДНИ */
.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 7px;
    margin: 12px 0;
}

.day {
    pointer-events: auto;
    padding: 11px 0;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.25);

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);

    color: white;
    cursor: pointer;

    transition:
        transform 0.12s ease,
        background 0.2s ease,
        box-shadow 0.2s ease;
}

/* НАЖАТИЕ */
.day:active {
    transform: scale(0.92);
}

/* ВЫБРАННЫЙ */
.day.active {
    background: rgba(178,108,255,0.35);
    box-shadow: 0 0 18px rgba(178,108,255,0.8);
    border-color: rgba(178,108,255,0.9);
}

/* БЫСТРЫЕ */
.quick {
    display: flex;
    gap: 10px;
    margin-bottom: 14px;
}

.quick button {
    flex: 1;
    padding: 12px;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.25);
    background: rgba(255,255,255,0.1);
    color: white;
    cursor: pointer;
    transition: transform 0.15s;
}

.quick button:active {
    transform: scale(0.95);
}

/* СОЗДАТЬ */
.submit {
    width: 100%;
    padding: 15px;
    border-radius: 16px;
    border: none;
    background: linear-gradient(135deg, #7f5cff, #a86cff);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#output {
    margin-top: 10px;
    text-align: center;
}