body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.imgur.com/czp4xql.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 30px;
    perspective: 1px; /* Parallax */
}

.container {
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* Карточки */
.card {
    padding: 25px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0); /* полностью прозрачный */
    backdrop-filter: blur(12px);
    box-shadow: none;
    margin-bottom: 25px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Профиль */
.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid rgba(255,255,255,0.2);
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-pic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(127,92,255,0.8);
}

.change-btn {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background: rgba(255,255,255,0.05);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.change-btn:active {
    transform: scale(0.95);
    background: rgba(127,92,255,0.8);
}

.change-btn:hover {
    transform: scale(1.05);
    background: rgba(127,92,255,0.4);
}

/* Градиентный текст */
.gradient-text {
    background: linear-gradient(90deg, #7f5cff, #ff79c6, #7f5cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnim 3s infinite linear;
}

@keyframes gradientAnim {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}

/* Ссылки */
.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.links-container a {
    text-decoration: none;
    color: #7f5cff;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 12px;
    transition: 0.2s;
    display: inline-block;
    backdrop-filter: blur(8px);
    background: rgba(255,255,255,0.02);
}

.links-container a:hover {
    color: #fff;
    background: rgba(127, 92, 255, 0.8);
    transform: scale(1.05);
}

/* Блоки soon */
.soon-text {
    font-weight: bold;
    letter-spacing: 5px;
}

/* Снег */
#snowCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
}